*, *::after,
*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body{
    font-size: 1.6rem;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 700px;
    width: 100%;
    background-color: #f4f5f9;

}

.nav__brand{
    font-weight: 500;
    font-size: x-large;
    margin-left: 30px;
    
}

.nav__brand-icon{
   margin-left: 10px;
   position: relative;
   top: 2px;
    
}

/* .nav__search{
    font-weight: 100;
    font-size: small;
    margin-right: 500px;
    position: relative;
    top: 3px;
    

}
.nav__search-icon{
    width: 40%;
    height: 30px;
    background-color: white;
    


}

.nav__search-icon2{
    font-weight: 100;
    font-size: small;
    margin-left: 100px;
    position: relative;
    top: -7px;
    left: 10px;
    margin-left: 300px;
   
    

} */

.nav__search {
    display: flex;
    align-items: center;
  }

.nav__search-icon {
    width: 40%;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  
  .nav__search-icon2 {
    margin-left: 240px; /* Add any desired spacing between the text and the icon */
    position: relative;
    top: 0.5px;
}

.nav__menu{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-right: 400px;

}

/* Mobile Version */
@media screen and (max-width: 768px) {
    .nav {
        
      height: auto;
      flex-direction: column;
      align-items: center;
    }
  
    .nav__brand {
      margin-top: 20px;
      margin-left: 0;
      text-align: center;
    }
  
    .nav__menu {
      margin: 20px 0;
      margin-right: 0;
    }
  
    .nav__search {
      margin-left: 0;
      text-align: center;
      
    }
  
    .nav__search-icon2 {
      margin-left: 0;
      text-align: center;
      
    }
  }

